/* iPhone 5 or iPod Touch 5th generation ------- */
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    
    .bg-img {
        position: absolute;
        left: 60px;
        top: 100px;
        width: 210px;
        height: 238px;
        background: url(../img/shake-hand.png) no-repeat center top;
        background-size: 80% 80%;
    }


    .item {
        position: relative;
        box-sizing: border-box;
        width: 80%;
        margin: 320px auto 0;
        background: #393b3c;
        border: 1px solid #181819;
        color: #b0b1b1;
    }

    .wrap {
        border: 1px solid #4d4f50;
        padding: 13px;
    }

    .item .box {
        float: left;
        box-sizing: border-box;
    }

    .item img {
        display: block;
        border: 0;
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }

    .item .info {
        padding-left: 15px;
    }

    .item .info h3 {
        margin: 0;
        font-weight: normal;
        /*font-size: 14px;*/
    }

    .item .info p {
        margin-top: 8px;
    }

    .icon-male {
        display: inline-block;
        height: 15px;
        width: 15px;
        margin-left: 5px;
        background: url(../img/icon-male.png) no-repeat bottom;
        background-size: 80% 80%;
    }

    .arrow-right {
        position: absolute;
        right: 0;
        top: 30px;
        width: 30px;
        height: 30px;
        background: url(../img/arrow-right.png) no-repeat;
        background-size: 50% 80%;
    }
  
}