<?xml version='1.0' encoding='utf-8'?>
<widget id="BaiduCaifu" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BaiduCaifu</name>
    <description>
        caifu.baidu.com
    </description>
    <author email="zhuyuwei@baidu.com" href="http://caifu.baidu.com">
        百度财富
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
