/* iPhone 5 or iPod Touch 5th generation ------- */
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    
    body {
        padding-top: 20px;
    }

    .bg-img {
        left: 60px;
        top: 100px;
        background-size: 80% 80%;
    }


    .item {
        margin-top: 320px;
    }

    .wrap {
        border: 1px solid #4d4f50;
        padding: 13px;
    }


    .item img {
        width: 50px;
        height: 50px;
    }

    .item .info {
        padding-left: 15px;
    }

    .item .info p {
        margin-top: 8px;
    }

    .icon-male {
        height: 15px;
        width: 15px;
        background-size: 80% 80%;
    }

    .arrow-right {
        top: 30px;
        width: 30px;
        height: 30px;
        background-size: 50% 80%;
    }
  
}